<% provide(:title, @taxon.name) %>
<%= render 'potepan/shared/light_header'%>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'categories_filter', taxonomies: @taxonomies %>
        <%= render 'price_filter' %>
        <%= render 'colour_filter' %>
        <%= render 'size_filter' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'sorts' %>
        <%= render 'products', products: @products %>
      </div>
    </div>
  </div>
</section>
