<div class="row productsContent">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>関連商品</h4>
    </div>
  </div>
  <div class="row">
    <% products.each do |product| %>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="productBox">
          <div class="productImage clearfix">
            <%= image_tag product.display_image.attachment(:product) %>
            <div class="productMasking">
              <ul class="list-inline btn-group" role="group">
                <li>
                  <a data-toggle="modal" href=".login-modal" class="btn btn-default">
                    <i class="fa fa-heart"></i>
                  </a>
                </li>
                <li>
                  <a href="cart_page.html" class="btn btn-default">
                    <i class="fa fa-shopping-cart"></i>
                  </a>
                </li>
                <li>
                  <a class="btn btn-default" data-toggle="modal" href=".quick-view">
                    <i class="fa fa-eye"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="productCaption clearfix">
            <%= link_to potepan_product_path(product.id) do %>
              <h5><%= product.name %></h5>
            <% end %>
            <h3><%= product.display_price %></h3>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
